# Uncomment and update this line to specify a version:
# version = 0.26.2

profile = default

# Parse and format comments in docstrings
parse-docstrings = true

# Wrap comments and docstrings to fit within the 'max-width'
wrap-comments = true
